# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/
env/

# SQLite
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
